
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #D2691E;
    color: #fff;
    margin-bottom: 30px;
    padding: 20px;
    
}

header img {
    width: 150px;
}

.carousel {
    margin-top: 20px;
    width: 100px; /* Ajuste o tamanho conforme necessário */
}

.carousel-item img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border-radius: 5px;
    box-shadow: black 0px 0px 5px;
}

#carouselExampleIndicators, #carouselExampleIndicators2, #carouselExampleIndicators3, #carouselExampleIndicators4 {
    width: 200px;
    margin: 10px; /* Ajuste o tamanho conforme necessário */
}

.carousel-indicators {
    margin: 0;
}

.menu-section {
    margin-top: 20px;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f5e6d3; /* Cor marrom bem clarinho */
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.438) 5px 5px 12px -4px;
}

.menu-card .carousel {
    margin-right: 20px;
}




